:root {
  --gray: #d6d6d6;
  --darkGray: #606060;
  --blue: #1797ff;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* Header */

.header {
  width: 100%;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
  background-image: linear-gradient(to bottom, #ececec -32%, #fff 124%);
}

.header-logo {
  display: flex;
  align-items: flex-end;
  height: auto;
  object-fit: contain;
  font-family: Baskerville;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #3b3b3b;
}

/* Nav */

.page-selector {
  justify-content: center;
  display: flex;
  margin: 45px 0 50px 0;
}

.page-selector a {
  text-decoration: none;
  width: 90px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 4px;
  border: 1px solid var(--gray);
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: center;
  color: var(--darkGray);
}

.page-selector a.selected {
  border: 1px solid var(--blue);
  color: var(--blue);
}

/* Select */

.select-box {
  position: relative;
  display: block;
  justify-content: flex-start;
  width: 250px;
  font-size: 16px;
  color: var(--darkGray);
}

.select-box__current {
  position: relative;
  box-shadow: 0 15px 30px -10px transparentize(#000, 0.9);
  cursor: pointer;
  outline: none;
  border: 1px solid var(--gray);
}

.select-box__current:focus {
  border: 1px solid #000;
}

.select-box__current:focus + .select-box__list {
  opacity: 1;
  animation-name: none;
}

.select-box__current:focus + .select-box__list .select-box__option {
  cursor: pointer;
}

.select-box__current:focus + .select-box__list .select-box__option:hover {
  background-color: var(--gray);
}

.select-box__current:focus .select-box__icon {
  transform: translateY(-50%) rotate(180deg);
}

.select-box__icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 15px;
  opacity: 0.3;
  transition: 0.2s ease;
}

.select-box__value {
  display: flex;
}

.select-box__input {
  display: none;
}

.select-box__input:checked + .select-box__input-text {
  display: block;
}

.select-box__input-text {
  display: none;
  width: 100%;
  margin: 0;
  padding: 5px 10px;
  background-color: #fff;
}

.select-box__list {
  position: absolute;
  width: 100%;
  padding: 0;
  list-style: none;
  margin-top: 1px;
  opacity: 0;
  animation-name: HideList;
  animation-duration: 0.5s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: step-start;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.select-box__option {
  padding: 15px;
  background-color: #fff;
  display: flex;
  align-items: center;
  gap: 15px;
  line-height: 0%;
}

@keyframes HideList {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}

/* Jobs */

.job-container {
  margin-top: 35px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
}

@media only screen and (max-width: 1025px) {
  .job-container {
    display: block;
  }
}

.job {
  display: flex;
}

@media only screen and (max-width: 1025px) {
  .job {
    margin-bottom: 30px;
  }
}

.job:hover {
  opacity: 0.5;
  cursor: pointer;
}

.job-info {
  border-left-width: 2px;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-right-width: 0;
  border-style: solid;
  border-color: var(--gray);
  border-radius: 6px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 15px 30px;
  flex-grow: 1;
}

.job-detail {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.job-title {
  margin-bottom: 5px;
  font-size: medium;
  font-weight: 500;
  color: var(--darkGray);
}

.job-favorite {
  border-right-width: 2px;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-left-width: 0;
  border-style: solid;
  border-color: var(--gray);
  border-top-right-radius: 6px;
  border-top-left-radius: 0;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 0;
  padding: 10px 30px;
  width: auto;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
}

/* Pagination */

ul.page {
  list-style-type: none;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  background: #ffffff;
}

.page__numbers,
.page__btn,
.page__dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  cursor: pointer;
}

@media only screen and (max-width: 1025px) {
  .page__numbers,
  .page__btn,
  .page__dots {
    margin: 2px;
  }
}

.page__dots {
  width: 40px;
  height: 35px;
  color: var(--darkGray);
  cursor: initial;
}

.page__btn,
.page__numbers {
  width: 40px;
  height: 35px;
  border-radius: 7px;
  border: 1px solid var(--gray);
  color: var(--darkGray);
}

.page__numbers:hover {
  color: var(--blue);
}

.page__numbers.active {
  color: #ffffff;
  background: var(--blue);
  font-weight: 600;
  border: 1px solid var(--blue);
}

.page__btn.active {
  color: var(--darkGray);
  pointer-events: initial;
}

.page__btn.active:hover {
  color: var(--blue);
}

.page__btn.disabled {
  background-color: var(--gray);
  cursor: default;
}

/* Loader */

.lds-roller {
  display: flex;
  margin: 0 auto;
  padding-top: 10px;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: ' ';
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: var(--blue);
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* No favs */

.no-favs {
  display: flex;
  justify-content: center;
}